<body>
    <!-- Модальное окно авторизации -->
    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="authForms">
                <!-- Форма для авторизации -->
                <div id="loginForm">
                    <h2>Авторизация</h2>
                    <form id="loginForm">
                        <input type="text" id="loginName" placeholder="Логин" required>
                        <input type="password" id="loginPassword" placeholder="Пароль" required>
                        <button type="button" onclick="login()">Войти</button>
                        <p>Нет аккаунта? <a href="javascript:void(0);" onclick="toggleForms()">Зарегистрируйтесь</a></p>
                    </form>
                </div>
                <!-- Форма для регистрации -->
                <div id="registerForm" style="display: none;">
                    <h2>Регистрация</h2>
                    <form id="registerForm">
                        <table>
                            <tr>
                                <td><input type="text" id="registerName" placeholder="Логин" required></td>
                                <td><span id="nameAvailability"></span></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="registerPassword" placeholder="Пароль" required></td>
                                <td><input type="password" id="confirmPassword" placeholder="Повторите пароль" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" onclick="register()">Зарегистрироваться</button>
                                </td>
                            </tr>
                        </table>
                        <p>Уже есть аккаунт? <a href="javascript:void(0);" onclick="toggleForms()">Войдите</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Контейнер для уведомлений -->
    <div id="notificationContainer"></div>

    <button onclick="openModal()">Войти / Зарегистрироваться</button>
    <!-- <button id="showNotification" style="margin-top: 20vh">Показать уведомление</button> -->

    <h1>Блог</h1>
    {% for post in posts %}
    <div class="post">
        <div class="post-header">
            <div>
                <h2 class="post-title">{{ post["theme"] }}</h2>
                <p class="post-meta">Автор: {{ post["author"] }} | Дата создания: {{ post["date"] }}</p>
            </div>
            <div class="like-indicator">
                <i class="like-heart {% if post[" is_liked"] %}liked{% else %}not-liked{% endif %}">❤</i>
                <p>Is liked {{ post["is_liked"] }}</p>
                <p>Лайки: {{ post["likes"] }}</p>
            </div>
        </div>
        <p>Содержание поста:</p>
        {% for line in post["content"] %}
        <p>{{ line }}</p>
        {% endfor %}
        {% for file_url in post["files"] %}
        <img src="{{ file_url }}" alt="Изображение поста">
        {% endfor %}
    </div>
    {% endfor %}
</body>