<body>
    <!-- Модальное окно авторизации -->
    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="authForms">
                <!-- Форма для авторизации -->
                <div id="loginForm">
                    <h2>Авторизация</h2>
                    <form id="loginForm">
                        <input type="text" id="loginName" placeholder="Логин" required>
                        <input type="password" id="loginPassword" placeholder="Пароль" required>
                        <button type="button" onclick="login()">Войти</button>
                        <p>Нет аккаунта? <a href="javascript:void(0);" onclick="toggleForms()">Зарегистрируйтесь</a></p>
                    </form>
                </div>
                <!-- Форма для регистрации -->
                <div id="registerForm" style="display: none;">
                    <h2>Регистрация</h2>
                    <form id="registerForm">
                        <table>
                            <tr>
                                <td><input type="text" id="registerName" placeholder="Логин" required></td>
                                <td><span id="nameAvailability"></span></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="registerPassword" placeholder="Пароль" required></td>
                                <td><input type="password" id="confirmPassword" placeholder="Повторите пароль" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" onclick="register()">Зарегистрироваться</button>
                                </td>
                            </tr>
                        </table>
                        <p>Уже есть аккаунт? <a href="javascript:void(0);" onclick="toggleForms()">Войдите</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования поста -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <h2>Редактировать пост</h2>
            <form id="editPostForm">
                <label for="editPostTheme">Тема:</label>
                <input type="text" id="editPostTheme" required><br>

                <label for="editPostContent">Основной текст:</label>
                <textarea id="editPostContent" rows="4" required></textarea><br>

                <label for="editFileInput">Выберите файлы:</label>
                <input type="file" id="editFileInput" multiple><br>

                <!-- Добавьте место для отображения выбранных файлов -->
                <div id="editFileList" class="file-list"></div>

                <button type="button" id="saveEditButton">Сохранить</button>
                <button type="button" id="cancelEditButton" onclick="closeEditModal()">Отмена</button>
            </form>
        </div>
    </div>

    <!-- Контейнер для уведомлений -->
    <div id="notificationContainer"></div>

    <!-- Блок заголовка -->
    <div class="header-and-authorization">
        <h1>Блог</h1>
        <div>
            <!-- Текстовое поле для имени текущего пользователя -->
            <span class="current-user">
                <input type="text" id="currentUser" readonly value="{{user_name}}" {% if not authorized
                    %}style="display: none;" {% else %}style="display: inline;" {% endif %}>
            </span>
            <!-- Кнопка "Войти / Зарегистрироваться" -->
            <span class="auth-button">
                <button onclick="{% if authorized %}unlogin(){% else %}openModal(){% endif %}">{% if authorized
                    %}Выйти{% else %}Войти / Зарегистрироваться{% endif %}</button>
            </span>
        </div>
    </div>

    <!-- Блок добавления поста -->
    <div id="new-post" class="post" {% if not authorized %}style="display: none;" {% endif %}>
        <div class="post-header">
            <h2 class="post-title">Новый пост</h2>
        </div>
        <form id="postForm">
            <input type="text" id="postTheme" placeholder="Тема" required>
            <textarea id="postContent" placeholder="Основной текст" required></textarea>
            <input type="file" id="fileInput" multiple>
            <div id="fileList"></div>
            <button type="button" onclick="createPost()">Отправить</button>
        </form>
        <div id="fileList" class="file-list"></div>
    </div>

    <!-- Посты -->
    {% for post in posts %}
    <div id="post-{{post['id']}}" class="post">
        <div class="post-header">
            <div>
                <h2 class="post-title">{{ post["theme"] }}</h2>
                <p class="post-meta">Автор: {{ post["author"] }} | Дата создания: {{ post["date"] }}</p>
            </div>
            <div class="like-indicator">
                <button class="like-heart {% if post['is_liked'] %}liked{% else %}not-liked{% endif %}"
                    onclick="toggleLike({{ post['id'] }})">❤</button>
                <p class="like-count">{{ post["likes"] }}</p>
            </div>
        </div>
        <div class="post-content">
            {% for line in post["content"] %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
        <div>
            {% for file_url in post["files"] %}
            <img class="post-image" src="{{ file_url }}" alt="Изображение поста">
            {% endfor %}
        </div>
        {% if user_name == post['author'] %}
        <button class="delete-post" onclick="confirmDelete({{ post['id'] }})">❌ Удалить пост</button>
        <button class="edit-post" onclick="editPost({{ post['id'] }})">✏️ Редактировать</button>
        {% endif %}
    </div>
    {% endfor %}
</body>